@using FarmProject.Client.Services.AnimalServices
@using FarmProject.Shared
@inject IAnimalService AnimalsService
@inject NavigationManager NavigationManager;




@foreach (Quadruped animal in AnimalsService.Quadrupeds)
    {
      <tr>				
		<td>@animal.Name</td>
		@if (animal.Corn == null)
		{
			<td>-</td>
		}
		else
		{
			<td>@animal.Corn</td>
		}
		
		@if (animal.Hey == null)
		{
			<td>-</td>
		}
		else
		{
			<td>@animal.Hey</td>
			
		}
		<td><button class="btn btn-primary" @onclick="(()=> EditQuadruped(animal.Id))"><i class="oi oi-pencil"></i></button></td>
	</tr>
	}

@foreach (Fowl animal in AnimalsService.Fowls)
{
	<tr>

		<td>@animal.Name</td>
		@if (animal.Corn == null)
		{
			<td>-</td>
		}
		else
		{
			<td>@animal.Corn</td>
		}

		@if (animal.Hey == null)
		{
			<td>-</td>
		}
		else
		{
			<td>@animal.Hey</td>
		}
		<td><button class="btn btn-primary" @onclick="(()=> EditFowl(animal.Id))"><i class="oi oi-pencil"></i></button></td>
	</tr>
}



@code {

	protected override async Task OnInitializedAsync()
	{
		await AnimalsService.LoadQuadrupeds();
		await AnimalsService.LoadFowls();
	}

	void EditFowl(int id)
	{
		NavigationManager.NavigateTo($"editfowlfood/{id}");
	}

	void EditQuadruped(int id)
	{
		NavigationManager.NavigateTo($"editquadrupedfood/{id}");
	}
}